/* Reseteo */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pagina en general */

/* Main - H1 */

.contenedor-h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/General/fondo-h1.jpg);
    height: 750px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.699);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}


/* Navegador superior */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(15, 15, 14);
    width: 100%;
}

.a-menu {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1em;
    background-color: rgb(192, 23, 23);
    border: 5px solid rgba(0, 0, 0, 0.13);
    margin: 1%;
    border-radius: 15px;
    padding: 5px;
    letter-spacing: 5px;
    transition: 0.5s ease;
}

.a-menu:hover {
    background-color: rgba(192, 23, 23, 0.658);
}

/* Menú interno */

.item--menu--interno {
    background-color: rgb(18, 45, 128);
    transition: background-color 0.6s ease;
}

.item--menu--interno:hover {
    background-color: rgb(18, 45, 128, 0.658);
}

/* Body */

body{ 
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/General/fondo-body.gif);
    background-position: center;
    background-size: cover;
}


/* Footer */

footer {
    background-image: url(../img/General/fondo-footer.jpg);
    background-size: cover;
    background-position: center 57%;
    background-repeat: no-repeat;
    background-color: rgba(20, 20, 20, 0.966);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 15px;
}

.copyright {
    margin-top: 100px;
    display:flex;
    justify-content: center;
    letter-spacing: 10px;
}

.copyright p {
    background-color: rgba(0, 0, 0, 0.651);
    padding: 10px 20px;
    border-radius: 15px;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-inferior {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-top: 100px;
    gap: 10px;
    width: 100%;
    font-size: 25px;
    letter-spacing: 10px;
}

.a-footer {
    text-decoration: none;
    margin: 1%;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px 20px;
}

.facebook {
    color: white;
    background-color: blue;
}

.x {
    color: white;
    background-color: rgb(38, 38, 68);
}

.youtube {
    color: white;
    background-color: red;
}

.linkedin {
    color: white;
    background-color: rgb(9, 61, 139);
}

.instagram {
    color: white;
    background-color: rgb(139, 26, 45);
}

.tiktok {
    color: white;
    background-color: rgb(31, 30, 30);
}


/*   Index   */

.contenedor-lema {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.884) ;
    padding: 30px;
}

.contenedor-lema p{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    color: rgb(211, 214, 28);
}

.boton-index{
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.699) ;
}


/*   Galería   */
/* Los modelos y formato de fotos se reutilizan en las demas paginas */

.contenedor-h3 {
    background-color: rgb(24, 24, 22);
    padding: 20px;
}

.contenedor-h3 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    letter-spacing: 7px;
}

.contenedor-h3 p {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: rgb(24, 24, 22);
}

.fotos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.699);

}

.fotos img{
    width: 100%;
    height: 500px;
    margin: 15px;
    border: 10px rgb(24, 24, 22) solid;
    border-radius: 35px;
}

.fotos a{
    text-decoration: none;
}

.fotos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.fotos p{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(24, 24, 22, 0.932);
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    border-radius: 15px;
}


/* Sobre nosotros... */

.contenedor-h2 {
    background-color: rgb(8, 8, 8);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 400px;
}

.contenedor-h2 h2 {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.747);
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    text-transform: uppercase;
}

.contenedor-h2#inicios {
    background-image: url(../img/Sobre-nosotros/enzo-ferrari.jpg);
    background-position: center 20%;
}

.contenedor-h2#maranello {
    background-image: url(../img/Sobre-nosotros/maranelloh2.avif);
    background-position: 20%;
}

.contenedor-h2#autos {
    background-image: url(../img/Sobre-nosotros/autos-h2.jpeg);
    background-position: 20%;
}

.contenedor-h2#nacimiento {
    background-image: url(../img/Sobre-nosotros/125s-h2.avif);
    background-position: 10%;
}

.contenedor-h2#valores {
    background-image: url(../img/Sobre-nosotros/valores-h2.jpg);
    background-position: 20%;
}

.parrafo {
    color: white;
    background-color: rgb(24, 24, 22);
    text-align: center;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0;
}

.seccion-info ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 0;
}

.seccion-info li{
    margin: 50px;
    padding: 20px;
    background-color: rgb(24, 24, 22);
    color:white;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 1px;
}

/* Media Query */

@media (max-width: 600px) {
    body {
        background-image: none;
        background-color: gray;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr;
        padding: 4px;
        text-align: center;
        gap: 7px;
    }
}